n8n-workflows/clearpath-drive-folder-video-import.json
{
  "name": "ClearPath — Drive → library (server import)",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup (do this first)\n\n### Workflow variables\n**Workflow menu (⋮) → Variables** — add:\n- `CLEARPATH_APP_URL` = your app (no trailing slash)\n- `CLEARPATH_N8N_SECRET` = same as ClearPath **`N8N_CALLBACK_SECRET`**\n- **`VERCEL_AUTOMATION_BYPASS_SECRET`** = same secret as Vercel **Protection Bypass for Automation** (only if Deployment Protection is ON). If protection is off, leave empty or omit.\n\n### Vercel protection bypass\nSet `VERCEL_AUTOMATION_BYPASS_SECRET` in n8n variables. Node **3** appends `?x-vercel-protection-bypass=...` to the POST **URL** (more reliable than headers in n8n). ClearPath does the same for the CloudConvert webhook on Vercel.\n\n### Node \"1 — Watch Drive folder\"\n1. **Google Drive OAuth2** (same account as import folder).\n2. **Folder** → **ID** = same as ClearPath → Videos.\n\n### ClearPath\nVideos → folder ID + **Connect Google Drive**. Vercel env: see `n8n-workflows/README.md`.",
        "height": 580,
        "width": 420,
        "color": 4
      },
      "id": "note-setup-a",
      "name": "SETUP — read me",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-60, 140]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID_PASTE_HERE",
          "mode": "id",
          "cachedResultName": "ClearPath import folder",
          "cachedResultUrl": "=https://drive.google.com/drive/folders/YOUR_FOLDER_ID_PASTE_HERE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "node-gdrive-watch",
      "name": "1 — Watch Drive folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [420, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.mimeType || '' }}",
              "rightValue": "video/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "v2",
              "leftValue": "={{ $json.name || '' }}",
              "rightValue": ".mp4",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "id": "v3",
              "leftValue": "={{ $json.name || '' }}",
              "rightValue": ".mov",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "id": "v4",
              "leftValue": "={{ $json.name || '' }}",
              "rightValue": ".webm",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "node-if-video",
      "name": "2 — Only videos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "curlImport": "",
        "method": "POST",
        "url": "={{ (() => { const b = ($vars.CLEARPATH_APP_URL || '').toString().replace(/\\/+$/,''); const p = b + '/api/videos/import-from-drive'; const s = $vars.VERCEL_AUTOMATION_BYPASS_SECRET; return s ? p + '?x-vercel-protection-bypass=' + encodeURIComponent(String(s)) : p; })() }}",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Clearpath-Secret",
              "value": "={{ $vars.CLEARPATH_N8N_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ folderId: ($json.parents && $json.parents[0]) ? $json.parents[0] : '', driveFileId: $json.id, driveFileName: $json.name || 'video.mp4' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 120000
        }
      },
      "id": "node-http-import",
      "name": "3 — POST ClearPath import",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 320]
    }
  ],
  "connections": {
    "1 — Watch Drive folder": {
      "main": [
        [
          {
            "node": "2 — Only videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 — Only videos": {
      "main": [
        [
          {
            "node": "3 — POST ClearPath import",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
